<!-- About  -->
<section id="about" class="about">
  <div class="row">
    <div class="ten columns center">

      <!-- The title -->
      <div class="title">
        <h1>My Life Story!</h1>
        <hr>
      </div>


      <p class="big thin">Growing up, I had a strong passion for technology. From hardware to software, I just wanted to know how a computer works. It was not until watching my friend's engineering project built on C++ where my love for coding started. </p>

      <hr>
    </div>
  </div>  
  
  <!-- Experience -->
  <div class="row"> 
    <div class="twelve columns">

      <div class="entries">
        <div class="entry">
          <div class="dot">
          </div>
          <div class="label">
            <div class="time">
              Sept 2008 - Sept 2012
            </div>
            <div class="detail">
              Business Management at<br/>
              Ryerson University
            </div>
          </div>
        </div>
        <div class="entry ">
          <div class="dot">
          </div>
          <div class="label">
            <div class="time">
              Nov 2011 - April 2014
            </div>
            <div class="detail">
              Operations Manager at<br/>
              DNMmotives<br/>
              shopatshowroom.com
            </div>
          </div>
        </div>
        <div class="entry ">
          <div class="dot">
          </div>
          <div class="label">
            <div class="time">
              March 2014 - May 2014
            </div>
            <div class="detail">
              Student at<br/>
              Bitmaker Labs - Web Development
            </div>
          </div>
        </div>
        <div class="entry ">
          <div class="dot">
          </div>
          <div class="label">
            <div class="time">
              May 2014 - Date
            </div>
            <div class="detail">
              Freelance Developer
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>
</section>