<!--  work -->
<section id="work" class="featured-work">

  <!--  Slider -->
  <div class="featured-work-slider">
    <ul class="bxslider" id="featured-work-slider">

      <!-- Slide 1 -->
      <li>
        <div class="header header1">
          <div class="header-left">
            <div class="centerdiv text-black">
              <h4 class="slide-title bigtext uppercase letterspace bold">SkyPrep</h4><br>
              <p class="slide-desc big">Online Training Software</p><br>                          
              <%= link_to "View", "https://skyprep.com", target: '_blank', class: 'button white outline' %>
            </div>
          </div>
        </div>
      </li>

      <!-- Slide 2 -->
      <li>
        <div class="header header2">
          <div class="header-left">
            <div class="centerdiv text-black">
              <h4 class="slide-title bigtext uppercase letterspace bold">Kwiki-Mart</h4><br>
              <p class="slide-desc big">Sample E-Commerce Site</p><br>                          
              <%= link_to "View", "http://kwiki-mart.herokuapp.com", target: '_blank', class: 'button white outline' %>
            </div>
          </div>
        </div>
      </li>

      <!-- Slide 3 -->
      <li>
        <div class="header header3">
          <div class="header-left">
            <div class="centerdiv text-black">
              <h4 class="slide-title bigtext uppercase letterspace bold">Rainforest</h4><br>
              <p class="slide-desc big">Amazon Clone</p><br>
              <%= link_to "View", 'http://rainforest-steve.herokuapp.com', target: '_blank', class: 'button blac outline' %>              
            </div>
          </div>
        </div>
      </li>

      <!-- Slide 4 -->
      <!-- <li>
        <div  class="header header4">
          <div class="header-left">
            <div class="centerdiv text-black">
              <h4 class="slide-title bigtext uppercase letterspace bold">Personal Blog</h4><br>
              <p class="slide-desc big">In Progress</p><br>
              <a class="button white outline smoothscroll" href="" target="_blank">View</a>
            </div>
          </div>
        </div>
      </li> -->       

    </ul>
  </div>
  
</section>