<div id="preloader">
  <div id="status">&nbsp;</div>
</div>

<!-- Menu -->
<div class="main-menu fixedmenu">
  <div class="menu-wrap">
    <h1><a href="#home" class="smoothscroll">Stephen Chang</a></h1>
   <!--  <input type="checkbox" id="toggle" />
   <label for="toggle" class="toggle"></label> -->


   <!-- Menu -->
   <ul class="menu">
    <li><a href="#about" class="smoothscroll">About</a></li>
    <li><a href="#work" class="smoothscroll">Work</a></li>
    <li><a href="#experience" class="smoothscroll">Experience</a></li>
    <li><a href="#contact" class="smoothscroll">Contact</a></li>
  </ul>
</div>
</div>

<section id="home" class="home-wrap">
  <div class="home-content text-white">
    <h1 class="bigtext letterspace uppercase bold no-margin">Stephen Chang</h1>
    <p class="big margin-bottom">Developer, Retail Professional and Entrepreneur</p>
    <p><a class="button outline fill white big smoothscroll" href="#about">Find out more about me</a></p>
  </div>
</section>


<!--  Background IMG -->
<%= image_tag('sharktank.jpeg', class: 'fullscreen-img') %>





<%= render 'home/about' %>


<%= render 'home/work' %>




<!-- Stats -->
<section id="experience" class="stats">
  <div class="row">
    <div class="ten columns center">
      <!-- The title -->
      <div class="title">
        <h1>My Skillset Experience</h1>
        <h2>In Months</h2>
        <hr>
      </div>

    </div>

    
    <div class="three columns">
      <h4 class="custom-font title">Ruby on Rails</h4>          
      <h1 class="custom-font"><span class="number-animator" data-value="12" data-animation-duration="400">0</span></h1>

      <div class="progress transparent progress-small no-radius ">
        <div class="progress-bar progress-bar-black animated-progress-bar " data-percentage="100%"></div>
      </div>

    </div>

    <div class="three columns">
      <h4 class="custom-font title">HTML5/CSS3/BootStrap/Foundation</h4>
      <h1 class="custom-font"><span class="number-animator" data-value="18" data-animation-duration="400">0</span></h1>

      <div class="progress transparent progress-small no-radius no-margin">
        <div class="progress-bar progress-bar-black animated-progress-bar" data-percentage="100%" ></div>
      </div>

    </div>

    <div class="three columns">
      <h4 class="custom-font title">JavaScript/AngularJS/jQuery/AJAX</h4>
      <h1 class="custom-font"><span class="number-animator" data-value="6" data-animation-duration="400">0</span></h1>

      <div class="progress transparent progress-small no-radius no-margin">
        <div class="progress-bar progress-bar-black animated-progress-bar" data-percentage="70%"></div>
      </div>

    </div>

    <div class="three columns">
      <h4 class="custom-font title">OOP/TDD/MVC</h4>
      <h1 class="custom-font"><span class="number-animator" data-value="6" data-animation-duration="400">0</span></h1>

      <div class="progress transparent progress-small no-radius no-margin">
        <div class="progress-bar progress-bar-black animated-progress-bar" data-percentage="80%"></div>
      </div>

    </div>

  </div>

</section>






<section id="quote" class="quote">
  <div class="header medium">
    <div class="header-center">
      <div class="centerdiv text-white">
        <ul id="quote-slider" class="bxslider">


          <!-- Quote 1 -->
          <li>
            <h1 class="thin"><q>Strive not to be a success, but rather to be of value.</q></h1>
            <hr>
            <h2 class="italic">Albert Einstein</h2>
          </li>


          <!-- Quote 2 -->
          <!-- <li>
            <h1 class="thin"><q>I’ve missed more than 9000 shots in my career. I’ve lost almost 300 games. 26 times I’ve been trusted to take the game winning shot and missed. I’ve failed over and over and over again in my life. And that is why I succeed.</q></h1>
            <hr>
            <h2 class="italic">Michael Jordan</h2>
          </li> -->


          <!-- Quote 3 -->
          <li>
            <h1 class="thin"><q>Whenever you are asked if you can do a job, tell ‘em, ‘Certainly I can!’ Then get busy and find out how to do it.</q></h1>
            <hr>
            <h2 class="italic">Theodore Roosevelt</h2>
          </li>




        </ul>
      </div>
    </div>
  </div>
  <a href="javascript:void(0)" id="quote-prev" class="bx-outer-prev"></a>
  <a href="javascript:void(0)" id="quote-next" class="bx-outer-next"></a>
</section>


<!-- Contact -->
<section id="contact" class="contact">
  <div class="row">
    <div class="ten columns center">
      <!-- The title -->
      <div class="title circular-">
        <h1>Contact</h1>
        <hr>
      </div>

      <p class="big thin text-black">Feel free to take a look at my portfolio, hopefully it would generate some interest from you. Please see below for ways to contact me. Please don't hesitate to contact me for any opportunities or just to say hello! I will always strive to respond as soon as possible! (By the way, if you're curious, I took the background picture!)
      </p>
    </div>
  </div>

  <div class="row">
      <div class="twelve columns">
        <h3 class="text-black margin-bottom"></h3>
        <p class="no-margin">
          <a href="callto:+16474040129"><i class="fa fa-phone icon big black fill"></i></a>
          <a href="mailto:stephen@stephenchang.ca"><i class="fa fa-envelope-o icon big black fill"></i></a>
          <!-- <a href="http://www.twitter.com" target="_blank"><i class="fa fa-twitter icon big black fill"></i></a> -->
          <a href="http://www.github.com/stephenycchang" target="_blank"><i class="fa fa-github-alt icon big black fill"></i></a>
          <a href="http://ca.linkedin.com/pub/stephen-chang/39/819/160/" target="_blank"><i class="fa fa-linkedin icon big black fill"></i></a>
          <a href="https://drive.google.com/file/d/0B-T_bJC9V5sSdjMtUXFCNG9jWDQ/edit?usp=sharing" target="_blank"><i class="fa fa-file-pdf-o icon big black fill"></i></a>
        </p>
      </div>
    </div>
  <!--  -->
</section>


<!-- Footer -->
<section id="social-footer">
  <div class="social-footer">
    
  </div>  
</section>