<section>
  <div class="center-text">
    <h1>Stephen Chang</h1>
  </div>

  <div class="center-text">
    <h2>Full-Stack Ruby on Rails Developer</h2>
  </div>

  <img src="<%= image_url("steve.jpg") %>" class="img-responsive circle-image animated tada">

  <div>
    <a href="https://github.com/stephenycchang" class="image" target="_blank">
      <i class="fa fa-github fa-3x m-30"></i>
    </a>
    <a href="https://drive.google.com/file/d/0B-T_bJC9V5sSenhIZjZmU3pHUkk/view?usp=sharing" class="image" target="_blank">
      <i class="fa fa-file-pdf-o fa-3x m-30"></i>
    </a>
    <a href="https://ca.linkedin.com/in/stephenycchang" class="image" target="_blank">
      <i class="fa fa-linkedin fa-3x m-30"></i>
    </a>
  </div>

  <div class="center-text">
    <h3>
      <a href="mailto:stephen@stephenchang.ca" class="grow-shadow">
        <i class="fa fa-envelope"></i> 
        stephen@stephenchang.ca
      </a>
    </h3>
  </div>
</section>
